:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

button {
  font-family: 'Roboto Mono';
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/RobotoMono-VariableFont_wght.ttf') format('woff2');
}
body {
  font-family: 'Roboto Mono', sans-serif;
  overscroll-behavior: none;
}

.add-to-cart-btn {
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
  transition: all 150ms ease-in-out;
  background: white;
  cursor: pointer;
  border: 1px solid black;
  font-family: 'Roboto Mono';
}
.add-to-cart-btn:hover {
  background: black;
  color: white;
}
/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: calc(100dvh - var(--header-height) - 3.5rem);
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: calc(var(--header-height) + 3.5rem) !important;
  transition: all 200ms ease-in-out;
}
aside#mobile {
  left: calc(-1 * var(--aside-width));
  right: auto;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: 500;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
  background: inherit;
  color: inherit;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}
.overlay.expanded aside#mobile {
  transform: translateX(var(--aside-width));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 50;
  border-bottom: 1px solid #eaeaea;

  /* height: var(--header-height); */
}

.headliner {
  background-color: #000 !important;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.header-inner {
  width: calc(100% - 3rem);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header-menu-item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: black;
  text-decoration: none;
  padding: 0.15rem;
}

.header-menu-item:hover {
  text-decoration: none;
  color: black !important;
}

.header-logo {
  flex: 0;
  text-align: center;
}

.header-logo img {
  height: 28px;
  width: auto;
}

.header-ctas {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  gap: 1rem;
}
.mobile-search-icon {
  display: none;
}
.header-ctas > form {
  overflow: hidden;
}
.header-ctas > form > input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding-inline: 0;
  margin: 0;
  /* padding: 0; */
}
.header-ctas > form > input:focus-visible {
  outline: none;
}
input[type='search' i]::-webkit-search-cancel-button {
  display: none;
}
.header-ctas > form > button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header-ctas > a,
.header-ctas > button,
.header-ctas > form > button {
  width: 25px;
  cursor: pointer;
}
.header-icon {
  width: 75%;
  margin: auto !important;
}

.header-menu-mobile-toggle {
  flex: 1;
  display: flex;
  @media (min-width: 48em) {
    display: none;
  }
}
.header-menu-mobile-toggle:hover {
  background: inherit;
  color: inherit;
  cursor: pointer;
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.header-menu-mobile > .header-menu-item {
  padding: 0;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 48em) {
    display: flex;
    gap: 1rem;
    flex: 1;
  }
}

.header-menu-desktop > button {
  padding: 0 10px;
}
.header-inner > a > img {
  border-radius: 0px !important;
}

.header-menu-item {
  cursor: pointer;
  padding-left: 10px;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  padding: calc(2rem + 20px) 2rem 2rem 2rem;
  font-family: 'Roboto Mono';
}
.carousel-wrapper:has(+ .footer) {
  margin: auto !important;
}
.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 150px;
}

.footer-logo {
  font-weight: 500;
  font-size: 1.75rem;
  border-radius: 0px !important;
}

.footer-locale {
  padding: 0.5rem;
  font-size: 12.5px !important;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 2rem;
  color: black !important;
  font-family: 'Roboto Mono';
  background: white;
  overflow: hidden;
  position: relative;
}
.footer-locale > span {
  text-wrap: nowrap;
}
.footer-locale > svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  height: 100%;
  padding-inline: 5px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: calc(-250px);
  z-index: 1000;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12.5px !important;
}

.dropdown-option:hover,
.dropdown-option:focus {
  background-color: #f0f0f0;
  outline: none;
}

.dropdown-option.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.footer-center {
  display: flex;
  flex: 2;
  gap: 4rem;
}

.footer-menu-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-menu-column a {
  color: black;
  text-decoration: none;
  font-size: 12.5px;
}

.footer-menu-column a:hover {
  text-decoration: underline;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  gap: 1rem;
  font-size: 12.5px !important;
}

.footer-newsletter {
  display: flex;
  width: 100%;
  text-align: right;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 12.5px !important;
}

.footer-newsletter input[type='email'],
.footer-newsletter button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;
  font-size: 12.5px !important;
  border: 1px solid #000;
  background: white;
}
.footer-newsletter button:hover {
  background: black;
  color: white;
}

.footer-newsletter input[type='email']:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit; /* optional: keeps border consistent */
}

.footer-newsletter button {
  cursor: pointer;
  border-radius: 4px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin-top: 1rem;
}

.footer-copyright {
  font-size: 12.5px !important;
}
/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/

aside header.cart-header {
  display: block; /* override shared flex */
  padding-top: 1rem;
  border-bottom: none; /* optional, match figma */
  text-align: center;
}

.cart-main {
  height: 100%;
  max-height: calc(100dvh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}
.cart-details {
  max-height: 50dvh;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.cart-details::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-heading {
  font-size: 16px;
  text-align: center;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Mono', sans-serif;
}

.cart-subtext {
  font-size: 15px;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.cart-lines ul {
  margin-left: 0 !important;
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
  font-size: 16px;
}
.cart-line * {
  font-size: 16px;
}

.cart-line > div > form {
  margin-top: -0.25rem;
}

.cart-line > div > small,
.cart-line > div > a > p > strong {
  font-size: 13px !important;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 1rem;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}
.cart-line-quantity p {
  font-size: 13px !important;
}
.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.quantity-container {
  display: flex;
  gap: 0.1rem;
}
.quantity-container > form > button {
  color: black;
  background: none;
  border: none;
}
.remove-button {
  margin-bottom: 1rem !important;
  font-size: 13px !important;
}
.remove-button:hover {
  color: black;
  cursor: pointer;
}

.checkout-button {
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.search {
  padding-top: 4rem;
  padding-inline: 10vw;
  text-align: center;
}
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.home {
  margin-bottom: 7rem;
}
.featured-artist-container {
  text-align: center;
  margin-bottom: 2rem;
}
.featured-artist-homepage-section {
  display: flex;
  height: calc(100vh - var(--header-height));
  max-width: 1440px;
  margin: auto;
}
.featured-artist-homepage-section > div {
  flex: 1;
}
.models-container,
.shop-the-collection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-the-collection {
  flex-direction: column;
  gap: 1rem;
}
.shop-the-collection > * {
  transform: translateY(calc(var(--header-height) * -1));
}
.shop-the-collection > p:first-of-type {
  letter-spacing: 2px;
}
.artist-title {
  font-size: 36px;
  margin-bottom: 0.5rem;
  letter-spacing: 5px;
}
.shop-the-collection > a {
  border: 1px solid black;
  padding: 1rem;
}
.shop-the-collection > a:hover,
.s-t-c:hover {
  color: white;
  background: black;
}
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products {
  text-align: center;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  row-gap: 70px;
  padding-inline: 5vw;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

.carousel-wrapper {
  width: 100vw;
  margin-left: -1rem !important;
}

.carousel-wrapper > button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection {
  padding-top: 4rem;
  padding-inline: 10vw;
  text-align: center;
}
.collection-title {
  margin-bottom: 4rem;
  letter-spacing: 2px;
}
.collection-title p:first-of-type {
  margin-bottom: 1rem;
}
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  row-gap: 70px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.product-item {
  text-align: center;
}
.product-item-img-container {
  position: relative;
}
.quick-shop {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto Mono', sans-serif;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.product-item:hover .quick-shop {
  opacity: 1;
}
.quick-shop:hover {
  text-decoration: underline;
}
.product-item img {
  height: auto;
  width: 100%;
}

.quick-shop-container {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0;
  top: var(--header-height);
  z-index: 10;
}
.quick-shop-container > button {
  position: absolute;
  inset: 0;
  background: transparent;
  border: none;
}
.quick-shop-popup {
  background: white;
  max-width: 895px;
  width: calc(100vw - 2rem);
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  gap: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quick-shop-popup > button {
  display: flex;
  padding: 0.25rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
}
.quick-shop-popup > button:hover {
  background: inherit;
  color: inherit;
  cursor: pointer;
}
.popup-images {
  position: relative;
  display: flex;
  height: auto;
  margin-right: 0;
  width: 100%;
  /* height: 69vh; */
  position: relative;
  flex-direction: row;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  align-items: flex-end;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.popup-images::-webkit-scrollbar {
  display: none;
}
.popup-image {
  position: static;
  height: auto;
  scroll-snap-align: start;
  max-height: 450px;
}
.popup-image img {
  width: calc(55vw - 3rem) !important;
  max-width: 466px;
  aspect-ratio: auto !important;
  height: auto !important;
}
.popup-image:only-child img {
  min-height: auto;
}
.quick-shop-images-container .mapped-indicators {
  display: flex !important;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  gap: 0.5rem;
  overflow: hidden;
  margin-top: 0.5rem;
}

.quick-shop-popup-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  max-height: 450px;
}
.quick-shop-popup-right * {
  font-size: 13px;
}
.selected-filters-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding-inline: 6px;
}
.filter-container {
  display: flex;
  gap: 1.5rem;
  font-family: 'Roboto Mono';
  margin-bottom: 2rem;
  align-items: flex-end;
  justify-content: space-between;
}
.filter-container .filter-container .filter-container {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filter-container > * {
  position: relative;
  font-family: 'Roboto Mono';
}
.filter-container button,
.header button {
  background: transparent;
  border: none;
  text-align: left;
  font-family: 'Roboto Mono';
  text-wrap: nowrap;
}
.filter-container > button:hover,
.sort-container > button:hover {
  color: black !important;
}
.padded-filter-div.inline-border.filter-input:hover {
  text-decoration: underline !important;
}
.mobile-filter {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: static;
}
.header-mf {
  position: relative;
  width: auto;
  cursor: pointer;
  padding: 0;
  font-family: 'Roboto Mono';
  justify-content: space-between;
  background: transparent;
  border: none;
}
.header-mf:hover {
  background: inherit;
  color: inherit;
}
.sort-overflow-hidden-container {
  position: absolute;
  top: calc(100% - 1px);
  left: -1px;
  width: calc(100% + 2px);
  overflow: hidden;
  height: 50vh;
  z-index: 2;
  font-family: 'Roboto Mono';
  min-width: fit-content;
  /* width: 100%; */
}
.header-sohc {
  width: 12rem;
  top: calc(100% + 1px);
}
.sort-container {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-block: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.header-s-c {
  text-align: left;
  font-size: inherit;
  font-weight: 500;
  gap: 0.5rem;
  border: 1px solid #eaeaea;
  border-top: none;
}
.header-s-c .dropdown-title {
  /* font-weight: 500; */
  font-size: 12px;
}
.dropdown-title {
  padding-left: 10px;
}
.header-s-c .dropdown {
  margin: 0;
  padding-block: 2px;
}
.header-s-c .dropdown-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f6f6f6;
  padding-block: 0.5rem;
  gap: 0.5rem;
}
.sort-by-button {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.sort-overflow-hidden-container button {
  text-align: left;
  text-wrap: nowrap;
  font-family: 'Roboto Mono';
}
.hide-on-desktop {
  display: none;
}
/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: flex;
  gap: 10px;
  min-height: calc(100vh - var(--header-height));
  padding-inline: 5vw;
  margin-bottom: 5rem;
}
.product > div {
  flex: 1;
}
.product > div:first-of-type,
.product > div:last-of-type {
  flex: 0.5;
}

.product h1 {
  margin-top: 0;
}

.product-image:first-of-type {
  padding-top: 2rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-left > div:first-of-type p {
  font-weight: 500;
  font-size: 14px;
}
.product-price > * {
  font-size: 14px !important;
}
.product-main {
  padding: 0 1rem 1rem;
  width: calc(100% - 2rem) !important;
}
.product-main,
.product-left {
  align-self: start;
  position: sticky;
  top: calc(50vh);
  transform: translateY(-50%);
  font-size: 13px;
}
.product-main *,
.product-left * {
  font-size: 13px;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}
.product-options p:first-of-type {
  margin-bottom: 1rem;
}

.product-options-grid {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
}

.product-options-item,
.product-options-item:disabled {
  padding: auto;
  height: 60px;
  background-color: transparent;
  font-family: inherit;
  transition: all 150ms ease-in-out;
  border: 1px solid grey;
  border-radius: 4px;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

.dropdown-container {
  width: 100%;
}

.dropdown {
  margin-bottom: 0.5rem;
  position: relative;
}
.product-left .dropdown {
  margin: 0;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  cursor: pointer;
  gap: 0.5rem;
}

.dropdown-title {
  flex: 1;
  font-weight: 500;
  text-wrap: nowrap;
}

.dropdown-content {
  margin-block: 1rem;
  max-height: 90vw;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 12px;
  line-height: 1.6;
}
.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content > .header-menu-item {
  display: flex;
  margin-left: 10px;
}
.rich-text-div {
  margin-top: 0.5rem;
}
.rich-text-div p {
  margin-bottom: 1rem;
  font-size: 13px;
  line-height: 26px;
}

.product .product-form {
  padding-left: 2rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.blog-headline {
  text-align: center !important;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.blog-article__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  max-width: 800px;
  margin-bottom: 80px;
}

.blog-article__image {
  flex: 0 0 300px;
}

.blog-article__image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

.blog-article__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blog-article__date {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
}

.blog-article__title {
  font-size: 14px;
  margin-bottom: 16px;
}

.blog-article__excerpt {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}

.read-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/

.article {
  width: 50%;
  margin: auto;
  margin-top: 5rem;
}

.article img {
  height: auto;
  width: 100%;
}
.article-inner > p {
  font-size: 13px !important;
  line-height: 26px !important;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

/* 
----------------------------------------------------
routes/artist
----------------------------------------------------
*/
.artists-page {
  position: relative;
}
.artist-page > div > p:first-of-type {
  margin-bottom: 0.5rem;
}
.artists-grid {
  max-width: 694px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 154px);
  gap: 116px;
  row-gap: 60px;
  margin: auto;
  margin-bottom: 6rem;
}
.artist-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  position: relative;
  max-width: 154px;
}
.artist-thumbnail p {
  width: fit-content;
  text-align: center;
  margin-top: 20px;
  text-wrap: nowrap;
}
.artist-thumbnail p:last-of-type {
  font-size: 13px;
  margin-top: 10px;
}

.artist-page {
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin-bottom: 5rem;
}
.artist-page .carousel-wrapper,
.artist-page .single-image-wrapper {
  margin: 2rem auto auto !important;
}
.artist-page img {
  height: auto;
}
.artist-expandables-div {
  width: 80%;
  text-align: left;
  margin: auto;
  max-width: 705px;
}

/* 
----------------------------------------------------
pages
----------------------------------------------------
*/

.page {
  margin: auto;
  width: 50%;
  margin-bottom: 4rem;
}
.page p,
.page > div > span,
.page#text {
  font-size: 13px !important;
}
.page header p {
  font-size: 16px !important;
}
.page p {
  font-size: 13px !important;
  line-height: 26px !important;
  margin-bottom: 1rem;
}
/* 
----------------------------------------------------
media queries
----------------------------------------------------
*/
.mapped-indicators {
  display: none;
}
@media (max-width: 910px) {
  .filter-container:has(> div + div + p) {
    flex-wrap: wrap;
  }
  .filter-container > p {
    width: 100%;
    order: 0;
  }
  .hide-on-desktop {
    order: 1;
  }
  .filter-container > div:nth-of-type(2) {
    order: 2;
  }
}
@media (max-width: 700px) {
  .hide-on-desktop {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
  .sort-overflow-hidden-container {
    height: 70vh;
  }
  .sort-overflow-hidden-container .sort-overflow-hidden-container {
    top: calc(100% + 1rem - 1px);
    height: 70vh;
  }
  .filter-container .filter-container {
    flex-wrap: wrap;
    width: 90vw;
  }
  .filter-container .filter-container .filter-container {
    flex-wrap: wrap;
    width: 90vw;
  }
  .artists-collection-div {
    padding: 0 !important;
  }
  .header-menu-mobile-toggle h3 {
    font-size: 24px;
  }
}
@media (max-width: 499px) {
  :root {
    --header-height: 57px;
  }
  .header-inner {
    width: 100%;
    box-sizing: border-box;
  }

  .featured-artist-homepage-section {
    display: block;
    height: auto;
  }
  .models-container img {
    max-height: 400px;
    max-width: none !important;
    transform: translate(0, 0) !important;
  }
  .shop-the-collection {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .shop-the-collection > * {
    transform: none;
  }
  .featured-collection {
    margin: 0;
    margin-top: 2rem;
    margin-left: -1rem;
    width: 100vw;
  }
  .featured-collection img {
    width: 200vw !important;
    transform: translate(-45%, 0);
  }
  .recommended-products-grid a:last-of-type {
    display: none;
  }
  .page {
    width: initial;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-center {
    flex-direction: column;
    gap: 2rem;
    order: 3;
  }
  .footer-grid {
    flex-direction: column;
    gap: 4rem;
  }
  .footer-newsletter {
    align-items: flex-start;
  }
  .footer-right {
    align-items: flex-start;
    order: 2;
  }
  .footer-right > img,
  .footer-right div {
    display: none;
  }
  .footer-icon {
    width: 40px;
    height: 40px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .article {
    width: 100%;
  }
  .blog-article__inner {
    gap: 0;
    flex-direction: column;
  }
  .mobile-search-icon {
    display: block;
    width: 25px;
    padding: 0;
    display: flex;
  }

  .header {
    /* padding-inline: 1rem; */
  }
  .header-s-c {
    border: none;
  }
  .header-ctas {
    gap: 0.25rem;
  }
  .header-ctas > form {
    display: none;
  }
  .header-logo {
    flex: 1;
  }
  .header-logo > img {
    width: 72px;
    height: 20px;
  }
  .products-grid {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-item-img-container {
    margin-bottom: 5px;
  }
  button {
    color: black;
  }
  .artists-grid {
    display: flex;
    gap: 2rem;
    row-gap: 1.75rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .add-to-cart-btn:hover,
  button:hover {
    background: inherit;
    color: inherit;
  }
  .featured-collection-image {
    overflow-x: hidden;
  }
  .product {
    flex-direction: column;
    padding: 0;
    margin-top: 2rem;
  }
  .product-left,
  .product-main {
    transform: translate(0);
    position: static;
  }
  .product-left {
    order: 2;
    padding: 0 1rem 1rem;
  }
  .product-main {
    order: 3;
  }
  .product-images {
    align-items: center;
  }
  .product-images,
  .product-item-imgs-container {
    position: relative;
    display: flex;
    height: auto;
    margin-right: 0;
    width: 100%;
    /* height: 69vh; */
    position: relative;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    align-items: flex-end;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .product-images::-webkit-scrollbar,
  .product-item-imgs-container::-webkit-scrollbar {
    display: none;
  }
  .product-image,
  .product-item-imgs-container img {
    position: static;
    height: auto;
    scroll-snap-align: start;
  }
  .product-item-imgs-container img {
    opacity: 1 !important;
  }
  .product-image img {
    width: calc(100vw - 2rem) !important;
    /* max-width: calc(999px * 0.5 + 2rem); */
    aspect-ratio: auto !important;
    height: auto !important;
    /* max-height: 60vh; */
    object-fit: cover;
  }
  .product-image:only-child img {
    min-height: auto;
  }
  .mapped-indicators {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    bottom: 1rem;
    left: 48.5%;
    position: absolute;
    background: transparent;
    overflow: hidden;
    gap: 4px;
  }
  .quick-shop {
    position: static;
    transform: none;
    font-size: 10px;
    padding: 0.5rem;
    opacity: 1;
  }
  .quick-shop-popup {
    flex-direction: column;
    max-height: calc(100vh - var(--header-height) - 5rem);
    overflow: auto;
    padding: 2rem 1rem 1rem;
    top: calc(var(--header-height) + 1rem);
    left: 1rem;
    transform: none;
    gap: 1rem;
  }
  .quick-shop-images-container {
    width: 100% !important;
  }
  .quick-shop-images-container .mapped-indicators {
    position: static;
  }
  .popup-image img {
    width: calc(100vw - 4rem) !important;
    max-width: none;
  }
  .quick-shop-popup-right .product-options-grid {
    margin-bottom: 1rem;
  }
  .collection {
    padding-inline: 0;
    padding-top: 2rem;
  }

  .product .product-form {
    padding: 0;
  }
  .collection-title {
    margin-bottom: 2rem;
  }
  .header-menu-item,
  .dropdown-title {
    padding-left: 0;
  }
  .product-image:first-of-type {
    padding: 0;
  }
  .carousel-track > img {
    aspect-ratio: 390/250;
  }
  .recommended-products > p:first-of-type {
    margin-bottom: calc(3rem + 20px) !important;
  }
  .carousel-wrapper > button {
    scale: 0.65;
  }
  .artist-page {
    padding-inline: 6px;
    margin-bottom: 2rem;
  }
  .artist-page .artist-expandables-div {
    width: 100%;
  }
  .artist-fetatured-product-image {
    width: 40vw !important;
  }
  .sort-by-button,
  .filter-container > p {
    font-size: 14px !important;
  }
  .padded-filter-div.inline-border.filter-input:hover {
    text-decoration: none !important;
  }
  .product-main {
    order: 1;
  }
  .product-left {
    order: 2;
  }
  .product-options p:first-of-type {
    margin-bottom: 0;
  }
  .product-options-grid {
    margin-top: 1rem;
  }
  .mob-underline,
  .read-link,
  .remove-button {
    text-decoration: underline;
  }
  .header-menu-mobile-toggle.reset {
    padding: 0;
  }
}
